/* :root {
  --main-color: #006653;
  --accent-color: #FF8351;
} */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 2rem auto;
  padding: 1rem;
  background-color: #EEE;
  border-radius: .25rem;
}

h1,
h2,
h3 {
  text-align: center;
}

#img-div {
  background-color: #FFF;
  padding: .25rem;
}

img {
  max-width: 60%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption {
  margin: .5rem 0;
  text-align: center;
}

ul {
  margin: 0 auto;
  max-width: 600px;
}

li {
  list-style-type: none;
  margin: 1rem;
}

blockquote {
  font-style: italic;
  line-height: 1.5rem;
  text-align: center;
}

cite {
  display: block;
  text-align: center;
}